@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #202124;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size:auto 100% ;
  background-position: center;
  height: 80vh;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  flex: 1;
  margin: 10px;
  position: relative;
  transition: flex .6s ease-in-out;
}

.panel h3 {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 7;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .7s ease-in-out .3s;
}

@media (max-width: 580px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}